* {
    background-color: #999999;
}

QTextEdit {
    background-color: #141414;
    color: #c7cfd0;
}

QTextBrowser {
    background-color: #141414;
    color: #c7cfd0;
    /* padding: 40px; */
}

QTreeView, QHeaderView {
    font-size: 13px;
}
