# Setup/Install
MANIFEST
dist/
build/
deploy/
*.spec
*.egg-info

# Documentation
docs/build/

# Python Temp
__pycache__

# Sample Project
sample/**/cache
sample/**/wordlist.txt
sample/**/sessionInfo.log
sample/**/*.bak
sample/**/*.json

# PyTest
tests/temp
.pytest_cache
pytestdebug.log
prof/

# Coverage
.coverage
