# Setup
MANIFEST
dist/

# Python Temp
__pycache__

# Sample Project
sample/**/cache
sample/**/wordlist.txt
sample/**/sessionInfo.log
sample/**/*.bak
sample/**/*.json

# PyTest
tests/temp
.pytest_cache
pytestdebug.log

# Coverage
.coverage
