# Setup/Install
/MANIFEST
/build/
/build_*/
/deploy/
/dist/
/dist_*/
*.spec
*.egg-info
setup.iss
/novelwriter.desktop
/novelWriter.pyw
/setup/macos/Info.plist
/setup/windows/build
.venv
/uv.lock

# Translations
/novelwriter/assets/i18n/*.qm
.qmake.stash
i18n/*.qm
i18n/*.qph

# Icons Themes Except Material Symbols
/novelwriter/assets/icons/*.icons
!/novelwriter/assets/icons/material_*.icons

# Documentation
/docs/build/
/docs/source/locales/**/*.mo
/novelwriter/assets/help/
/novelwriter/assets/manual*.pdf
*.qch
*.qhc
.~lock.*

# Python Temp
__pycache__
*.pyc

# Sample Project
/novelwriter/assets/sample.zip
/sample/cache
/sample/meta
*.bak
*.lock
ToC.txt

# PyTest
/prof/
/htmlcov/
/tests/temp
/tests/lipsum/cache
/tests/lipsum/meta
/.pytest_cache
/pytestdebug.log

# Coverage
/.coverage
/coverage.*

# Other
/test.py
.config
.local
*.patch

# IDE
.vscode
.ruff_cache
