* {
    background-color: #999999;
}

QTextEdit {
    background-color: #141414;
    color: #c7cfd0;
}

QStatusBar::item {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #666666;
}

QStatusBar::item QLabel {
    background-color: rgba(0,0,0,0.0);
    padding: 1px 4px;
}
