name: BuildAssets

on: workflow_call

jobs:
  buildAssets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v5

      - name: Install System Packages
        run: |
          sudo apt update
          sudo apt install qttools5-dev-tools latexmk texlive texlive-latex-extra

      - name: Install UV and Python
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.13"

      - name: Sync UV
        run: |
          uv sync --no-dev --group docs

      - name: Build Assets
        run: |
          uv run --no-sync pkgutils.py qtlrelease
          uv run --no-sync pkgutils.py sample

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nw-assets
          path: |
            novelwriter/assets/manual*.pdf
            novelwriter/assets/sample.zip
            novelwriter/assets/i18n/*.qm
            novelwriter/assets/icons/*.icons
          if-no-files-found: error
          retention-days: 14
