name: Flake8

on:
  push:
    branches:
      - main
      - releases/**
  pull_request:
    branches:
      - main
      - releases/**

jobs:
  checkSyntax:
    runs-on: ubuntu-latest
    steps:
      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: 3
          architecture: x64
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Install flake8
        run: pip install flake8
      - name: Syntax Check
        run: |
          flake8 --version
          flake8 novelwriter --count --show-source --statistics
          flake8 tests --count --show-source --statistics
