# This is a basic workflow to help you get started with Actions

name: Flake 8 Checks

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  checkSyntax:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          architecture: x64
      - name: Checkout novelWriter
        uses: actions/checkout@v2
      - name: Install flake8
        run: pip install flake8
      - name: Check for Syntax Error
        run: flake8 nw --count --select=E9,F63,F7,F82 --show-source --statistics
