name: Windows (3.9)

on:
  push:
    branches: [ main, testing, dev ]
  pull_request:
    branches: [ main, testing, dev ]

jobs:
  testWin39:
    runs-on: windows-latest
    steps:
      - name: Python Setup
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
          architecture: x64
      - name: Checkout Source
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest-timeout
          pip install pytest-cov
          pip install pytest-qt
          pip install codecov
      - name: Run Tests
        run: |
          pytest -v --cov=nw --timeout=60
      - name: Upload to Codecov
        uses: codecov/codecov-action@v1
